body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h4 {
  font-size: 20px;
}
.color {
  color: orange;
}
.eco {
  width: 50%;
  padding: 30px;
}
.eco image {
  width: 80%;
}
.button {
  background-image: linear-gradient(orange, brown);
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 7px;
  color: white;
  font-size: 20px;
}
.flexible-con {
  display: flex;
}
.top {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.middle {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.alu {
  color: orange;
}
.Exp {
  width: 40%;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 10px 10px 40px rgb(132, 139, 124);
  border-radius: 10px;
}
.flexible-con {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
#pro-one {
  border-left: 10px solid;
  border-image: linear-gradient(black, red);
  border-image-slice: 1;
}
#pro-two {
  border-left: 10px solid;
  border-image: linear-gradient(black, red);
  border-image-slice: 1;
}
footer {
  text-align: center;
}
